body {
  background-color: bisque;
}

.ColorBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ColorBox-title {
  display: flex;
  align-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
  color: teal;
}

.ColorBox-box {
  display: flex;
  align-content: center;
  width: 250px;
  height: 250px;
  background-color: blue;
  border: 2px solid yellow;
}

.ColorBox-input {
  display: flex;
  margin: 15px; 
  align-content: space-around;
}

.ColorBox-buttons {
  cursor: pointer;
  background-color: teal;
  border-radius: 25%;
  margin: 20px;
}

.ColorBox-hex {
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 70px;
}

.ColorBox-label {
  display: flex;
  justify-content: center;
  align-items: center;
}
